@page "/addGroup"
@layout AdminPanelLayout

@using Radzen
@using Radzen.Blazor
@using IotRemoteLab.Domain.Stand
@using System.Collections

<h1>AddGroup</h1>

<RadzenTemplateForm Data="@stand" Submit="@((Stand args) => { Submit(args); })">
    <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack>
                <RadzenFieldset Text="Микронконтроллер">
                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Название микроконтр" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenDropDown AllowClear="true" Placeholder="Select something" Data="@mcus" TextProperty="Name" @bind-Value="newMcu" Style="width: 100%;"></RadzenDropDown>
                        </RadzenColumn>
                    </RadzenRow>
                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Фрейм" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenDropDown AllowClear="true" Placeholder="Select something" Data="@mcus" TextProperty="Name" @bind-Value="newMcu" Style="width: 100%;"></RadzenDropDown>
                        </RadzenColumn>
                    </RadzenRow>
                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Скрипт" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenDropDown AllowClear="true" Placeholder="Select something" Data="@mcus" TextProperty="Name" @bind-Value="newMcu" Style="width: 100%;"></RadzenDropDown>
                        </RadzenColumn>
                    </RadzenRow>
                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Скрипт развертывания ПО на стенде" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenDropDown AllowClear="true" Placeholder="Select something" Data="@mcus" TextProperty="Name" @bind-Value="newMcu" Style="width: 100%;"></RadzenDropDown>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenFieldset>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
</RadzenTemplateForm>


@code {
    Stand stand = new Stand()
    {

    };

    Mcu newMcu = new Mcu() { };

    List<Mcu> mcus = new List<Mcu>()
    {
        new Mcu() {Name = "sss", Framework = new McuFramework() {}, AssemblyScriptFile = "dd", DeployScriptFile = "ff"},
        new Mcu() {Name = "sss2", Framework = new McuFramework() {}, AssemblyScriptFile = "dd2", DeployScriptFile = "ff2"},
        new Mcu() {Name = "sss3", Framework = new McuFramework() {}, AssemblyScriptFile = "dd3", DeployScriptFile = "ff3"}
    };

    void Submit(Stand arg)
    {
        //
    }

    void Cancel()
    {
        //
    }
}
