@page "/stand/{Id:guid}"
@inject HttpClient _httpClient;
@using Microsoft.AspNetCore.SignalR.Client
@layout BlankLayout
@inject HubConnection _hubConnection

<div class="stand-workflow">
    <div class="stand-workflow__left">
        <div class="workflow-box">
            <div class="workflow-box__header">
                <div class="workflow-box__title">
                    @Service.McuName
                </div>

                <div class="workflow-box__combobox">
                    <IotRemoteLab.Blazor.Components.ComboBox @bind-SelectedItem="@Service.SelectedUart" Items="@Service.AvailableUarts" />
                </div>
            </div>
            <div class="workflow-box__item">
                <IotRemoteLab.Blazor.Components.StreamFrame />
            </div>

            <div class="workflow-box__item workflow-box-grid">         
                <div class="workflow-box-buttons">
                    @foreach (var button in Service.StandButton)
                    {
                        <IotRemoteLab.Blazor.Components.SignalButton PortId="@button.Name" Pressed="OnSignalButtonPressed" Unpressed="OnSignalButtonUnpressed" />
                        <IotRemoteLab.Blazor.Components.CheckBox Text="@button.Name" StateChanged="@OnButtonStateChanged" IsChecked="@button.IsChecked" />
                    }
                </div>

                <div class="workflow-box-leds">
                    @foreach (var led in Service.StandLeds)
                    {
                        <div class="stand-led">
                            <div class="stand-led__light @(led.IsEnable ? "-enable" : "")" />
                            <span class="stand-led__name">@led.Name</span>
                        </div>
                    }
                </div>
            </div>

            <div class="workflow-box__item -stretch">
                <IotRemoteLab.Blazor.Components.Terminal SendMessageAction="@TerminalSendMessage" Logs="@Service.TerminalLogs" />
            </div>
        </div>
    </div>
    <div class="stand-workflow__right">

        <div class="workflow-box">
            <div class="workflow-box__item -stretch">
                <IotRemoteLab.Blazor.Components.MonacoEditor @ref="codeEditor" MonacoEditorId="@Service.EditorElementId" DebugUpload="@Service.DebugUpload" DefaultBoilerplateCode="@Service.DefaultBoilerplateCode" CodeChanged="@OnCodeChanged" />
            </div>
        </div>
    </div>
</div>